/* open-sans-300 - latin_latin-ext */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/open-sans-v44-latin_latin-ext-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-300italic - latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/open-sans-v44-latin_latin-ext-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-regular - latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/open-sans-v44-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-italic - latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/open-sans-v44-latin_latin-ext-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-500 - latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/open-sans-v44-latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-500italic - latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 500;
	src: url('../fonts/open-sans-v44-latin_latin-ext-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-600 - latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/open-sans-v44-latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-600italic - latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/open-sans-v44-latin_latin-ext-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-700 - latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/open-sans-v44-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-700italic - latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/open-sans-v44-latin_latin-ext-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-800 - latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/open-sans-v44-latin_latin-ext-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* open-sans-800italic - latin_latin-ext */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	src: url('../fonts/open-sans-v44-latin_latin-ext-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #fff;
}
.wrapper {
	max-width: 2000px;
	margin: 0 auto;
}
.navbar .links-and-lang-desktop .desktop-nav-links .active-page {
	text-decoration: underline;
	text-underline-offset: 8px;
}
.navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #9f5858;
	padding: 1rem;
	width: 100%;
	z-index: 200;
	max-width: 2000px;
	height: 100px;
}
.navbar a {
	display: flex;
}
.navbar .logo {
	width: 55px;
}
.navbar .links-and-lang-desktop {
	display: none;
}
.navbar .burger {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	user-select: none;
	z-index: 2;
	color: #fff;
}
.navbar .burger img {
	width: 50px;
}
.navbar .burger .close-btn-menu {
	width: 35px;
	margin-right: 5px;
}
.side-nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #9f5858;
	transition: right 0.2s ease, opacity 0.5s ease 0.1s;
	opacity: 0;
	pointer-events: none;
	z-index: 1;
	text-align: center;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.side-nav .lang-link {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	gap: 25px;
}
.side-nav .lang-link .eng-link,
.side-nav .lang-link .pl-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
.side-nav .lang-link .eng-link {
	text-decoration: underline;
	text-underline-offset: 5px;
}
.side-nav .lang-link .eng-link img,
.side-nav .lang-link .pl-link img {
	width: 20px;
	margin-right: 5px;
}
.side-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.side-nav ul li {
	padding: 1.5rem;
}
.side-nav ul li a {
	text-decoration: none;
	color: #fff;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.side-nav.open {
	right: 0;
	opacity: 1;
	pointer-events: auto;
}
main .desktop-main-bgc,
main .mobile-main-bgc {
	width: 100%;
	padding-top: 99px;
	height: 100svh;
}
main .desktop-main-bgc {
	display: none;
}
main .text-welcome {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	color: #fff;
	margin-left: 10px;
}
main .text-welcome h1 {
	font-size: 32px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
main .text-welcome h2 {
	margin-top: 10px;
	font-size: 32px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: italic;
}
main .text-welcome a {
	margin-top: 20px;
	display: block;
	background-color: #7f7f7f;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	padding: 15px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	box-shadow: 0 6px 12px #00000029;
	width: 220px;
	text-align: center;
}
#block-us {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}
#block-us .block-bgc-mob {
	margin-top: 99px;
	width: 100%;
}
#block-us .block-bgc-desk {
	display: none;
	margin-top: 99px;
	width: 100%;
}
#block-us .block-content {
	display: flex;
	flex-direction: column;
	color: #605858;
	padding: 15px;
}
#block-us > div > div.block-box-one > p,
#block-us > div > div.block-box-two > p.block-txt-two,
#block-us > div > div.block-box-two > p.block-txt-three {
	font-size: 16px;
	font-weight: 400;
}
#block-us .block-content .block-box-one .block-head,
#block-us > div > div.block-box-one > p,
#block-us > div > div.block-box-two > p.block-txt-two {
	padding-bottom: 15px;
}
#block-us > div > div.block-box-two > p.block-txt-three {
	padding-bottom: 15px;
}
#block-us > div > div.block-box-two > a {
	display: block;
	background-color: #7f7f7f;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding: 15px;
	box-shadow: 0 6px 12px #00000029;
	width: 200px;
	text-align: center;
}
#block-us .block-head {
	padding-top: 15px;
	padding-left: 15px;
	font-size: 26px;
	font-weight: 700;
	color: #605858;
}
.active-page {
	text-decoration: underline !important;
	text-underline-offset: 8px;
}
#products {
	font-family: 'Open Sans', sans-serif;
}
#products h1 {
	font-size: 24px;
	/* padding-left: 15px; */
	color: #605858;
}

#products .first-dscb-box h2,
#products .sec-dscb-box h2 {
	color: #9f5758;
	font-size: 24px;
	margin-bottom: 8px;
	font-weight: 400;
	font-style: italic;
}

#products p,
#products a,
#products ul li {
	color: #605858;
}
#products .lists .lists-box-one ul,
#products .lists .lists-box-two ul {
	margin-left: 20px;
}
#products .container-products-one .stevia-tabs,
#products .container-products-two .stevia-tabs {
	background-color: #efefef;
	padding: 15px;
	padding-top: 20px;
	min-height: 250px;
}
#products .container-products-one .stevia-lq,
#products .container-products-two .stevia-lq {
	background-color: #e2e2e2;
	padding: 15px;
	padding-top: 20px;
	min-height: 250px;
}
#products .container-products-one .stevia-tabs p,
#products .container-products-one .stevia-lq p,
#products .container-products-two .stevia-tabs p,
#products .container-products-two .stevia-lq p {
	margin-top: 7px;
}
#products .dosage {
	font-style: italic;
	font-weight: 600;
}
#products .lists .lists-box-one h2,
#products .lists .lists-box-two h2 {
	color: #9f5758;
	font-size: 24px;
	margin-bottom: 8px;
	font-weight: 400;
	font-style: italic;
}
#products .boxes-products h2 {
	color: #9f5758;
	font-size: 24px;
	margin-bottom: 8px;
	font-weight: 400;
	font-style: italic;
}
#products .lists .lists-box-two h2 {
	padding-top: 15px;
}
#products hr {
	margin: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
}
#products .first-dscb-box,
#products .sec-dscb-box {
	/* padding-left: 15px;
	padding-right: 15px; */
	margin-top: 15px;
}
#products .productsbgc-mob {
	width: 100%;
	margin-top: 100px;
}
#products .productsbgc-desk {
	display: block;
	width: 100%;
	margin-top: 100px;
}
#products .product-button {
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#products .product-button a {
	background-color: #efefef;
	color: #605858;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 15px 30px;
	text-decoration: none;
	font-size: 18px;
	width: 250px;
	margin-bottom: 8px;
	font-weight: 600;
	transition: all 0.3s;
}
#products .product-button .active-prd {
	background-color: #d5bcbc;
	color: #9f5758;
}
#products .next-products {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: end;
	max-width: 974px;
	margin: 0 auto;
}
#products .next-products .previous,
#products .next-products .next {
	display: flex;
	align-items: center;
	text-decoration: none;
}
#products .next-products img {
	width: 25px;
}
#products .boxes-products .container-products-two .up-to-top {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
#products .boxes-products .container-products-two .up-to-top a img {
	width: 45px;
}

#products .boxes-products ul {
	padding-left: 17px;
}
#contact {
	font-family: 'Open Sans', sans-serif;
}
#contact input {
	border: 1px solid #707070;
	border-radius: 5px;
	height: 30px;
	min-width: 92%;
	padding: 8px;
	font-size: 16px;
}
#contact textarea {
	min-width: 92%;
	height: 120px;
	border-radius: 5px;
	border: 1px solid #707070;
	padding: 8px;
	font-size: 16px;
}
#contact .contact-content {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 10px;
}
#contact .contact-content form .btn-send {
	margin-top: 15px;
	box-shadow: 0 6px 12px #00000029;
	font-size: 16px;
	background-color: #7f7f7f;
	min-width: 116px !important;
	border: none;
	font-weight: 500;
	padding: 15px;
	height: auto;
	cursor: pointer;
	color: #fff;
	margin-bottom: 25px;
	border-radius: 0;
}
#contact .opt {
	color: #60585890;
	margin-left: 7px;
	font-size: 9px;
	text-transform: lowercase;
	font-style: italic;
}
#contact .box-form {
	margin-top: 5px;
}
#contact label {
	font-size: 13px;
	color: #605858;
}
#contact .contactbgc-mob,
#contact .contactbgc-desk {
	padding-top: 99px;
	width: 100%;
}
#contact .contactbgc-desk {
	display: none;
}
#contact .heading-contact {
	text-align: left;
	padding-left: 15px;
	padding-right: 5px;
	font-weight: 700;
	padding-top: 25px;
	padding-bottom: 15px;
	font-size: 26px;
	color: #605858;
	max-width: 900px;
	margin: 0 auto;
}
#contact .contact-content .information-company {
	margin-top: 30px;
}
#contact .contact-content .information-company .name-company {
	font-weight: 700;
	color: #9f5758;
}
#contact .contact-content .information-company .address-company {
	margin-top: 15px;
	color: #605858;
}
#contact .contact-content .information-company .registred-company {
	margin-top: 15px;
	color: #605858;
}
#contact .contact-content .information-company .registred-company span {
	padding-left: 20px;
}
#contact .information-company .numbers {
	display: flex;
	color: #605858;
}
#contact .information-company .numbers .p-two-numbers span {
	color: #605858 !important;
	text-decoration: none !important;
}
#contact .information-company .numbers .p-two-numbers .mail-style {
	text-decoration: underline;
	color: blue;
}
#contact .contact-content {
	max-width: 900px;
	margin: 0 auto;
}
#regulations {
	padding-top: 140px;
	font-family: 'Open Sans', sans-serif;
	color: #605858;
	max-width: 900px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
#regulations h1 {
	font-size: 26px;
}
#regulations p {
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#regulations .p-updated {
	font-style: italic;
	font-weight: lighter;
}
#regulations p a {
	text-decoration: none;
	color: #605858;
}
#regulations p span {
	font-weight: 700;
}
.stevia-tabs-content-first {
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-top: 25px;
	margin-bottom: 50px;
}
.stevia-tabs-content-first .stevia-tabs-txt {
	display: flex;
	flex-direction: column;
}
.stevia-tabs-content-first .stevia-tabs-txt p {
	text-align: justify;
}
.stevia-tabs-content-first img {
	max-width: 500px;
}
footer {
	background-color: #9f5858;
	height: 100px;
	width: 100%;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 12px;
	gap: 20px;
	padding: 3px;
	max-width: 2000px;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}
footer .footer-container-one {
	display: flex;
	flex-direction: column;
}
footer .footer-container-one .logo-name {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
footer .footer-container-one .logo-name img {
	width: 30px;
	margin-right: 7px;
}
footer .footer-container-one .logo-name .name-mail .emailadd {
	margin-top: 8px;
}
footer .footer-container-one .logo-name .name-mail .emailadd a,
footer .footer-container-two .emailadd a {
	color: #aaf;
	font-weight: lighter;
	font-family: 'Open Sans', sans-serif;
}
footer .footer-container-one .email-address {
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-weight: 700;
	margin-left: 32px;
}
footer .footer-container-one .email-address a {
	text-decoration: none;
	color: #fff;
	font-weight: lighter;
	margin-left: 3px;
	font-family: 'Open Sans', sans-serif;
}
footer .footer-container-two .links-footer {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
}
footer .footer-container-two .links-footer a {
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
footer .footer-container-two .company-footer {
	margin-top: 8px;
	display: flex;
	justify-content: center;
	font-weight: lighter;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
@media (min-width: 650px) {
	main img {
		height: calc(100vh - 119px);
	}
	footer {
		flex-direction: row;
		justify-content: space-between;
		padding-left: 30px;
		padding-right: 30px;
		font-size: 16px;
		height: 120px;
	}
	footer .footer-container-one {
		order: 2;
	}
	footer .footer-container-two {
		order: 1;
	}
	footer .footer-container-one .logo-name {
		align-items: start;
	}
	footer .footer-container-one .logo-name img {
		width: 60px;
	}
	footer .footer-container-one .logo-name .name-mail .emailadd {
		margin-top: 15px;
	}
	footer .footer-container-two .company-footer {
		margin-top: 15px;
	}
	main .text-welcome {
		margin-left: 30px;
	}
	.navbar .logo {
		margin-left: 20px;
	}
}
@media (max-width: 768px) {
	#products .productsbgc-desk {
		display: none;
	}
}
@media (min-width: 768px) {
	#products .product-button {
		flex-direction: row;
	}
	#products .product-button {
		box-shadow: 0 6px 15px #00000029;
		width: 100%;
		margin: 0 auto;
		margin-top: 35px;
		margin-bottom: 50px;
	}
	#products .product-button a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;
		margin-bottom: 0;
	}
	#products .product-button a:nth-child(2) {
		margin-left: 2px;
		margin-right: 2px;
	}
	#products .product-button a:nth-child(4) {
		margin-left: 2px;
	}
	#contact .contact-content input {
		width: 330px;
	}
	#contact .contact-content textarea {
		width: 330px;
	}
	#block-us .block-bgc-desk {
		display: inline;
	}
	#block-us .block-bgc-mob {
		display: none;
	}
	#products .productsbgc-mob {
		display: none;
	}
	#products .productsbgc-desk {
		margin-top: 100px;
		display: inline;
	}
	#contact .contactbgc-mob {
		display: none;
	}
	#contact .contactbgc-desk {
		display: inline;
	}
	#contact .contact-content {
		flex-direction: row;
		gap: 80px;
		align-items: start;
	}
	#contact .contact-content .information-company {
		margin-top: 0;
	}
	#contact .heading-contact {
		padding-top: 45px;
		text-align: left;
	}
	#contact .contact-content form .btn-send {
		width: 116px;
	}
	#contact input,
	#contact textarea {
		width: 300px;
	}
}
@media (min-width: 768px) and (max-width: 970px) {
	#products .product-button a {
		height: 115px;
	}
}
@media (min-width: 900px) {
	.stevia-tabs-content-first {
		flex-direction: row;
		gap: 40px;
	}
}
@media (min-width: 970px) {
	/* main .desktop-main-bgc {
		display: block;
		height: calc(100vh - 118px);
	}
	main .mobile-main-bgc {
		display: none;
	} */
	.navbar {
		justify-content: start;
	}
	.navbar .burger {
		display: none;
	}
	.side-nav {
		display: none;
	}
	.navbar .links-and-lang-desktop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.navbar .links-and-lang-desktop .lang-link-desktop {
		padding-right: 30px;
		display: flex;
		align-items: center;
		padding-top: 10px;
		gap: 15px;
	}
	.navbar .links-and-lang-desktop .lang-link-desktop a img {
		width: 35px;
		margin-right: 5px;
	}
	.navbar .links-and-lang-desktop .lang-link-desktop a {
		display: flex;
		align-items: center;
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: lighter;
		text-decoration: none;
		font-size: 18px;
	}
	.navbar .links-and-lang-desktop .lang-link-desktop a:first-child {
		text-decoration: underline;
		text-underline-offset: 5px;
	}
	.navbar .links-and-lang-desktop .desktop-nav-links {
		display: flex;
		gap: 80px;
		margin-left: 50px;
	}
	.navbar .links-and-lang-desktop .desktop-nav-links li {
		list-style: none;
		padding-top: 10px;
	}
	.navbar .links-and-lang-desktop .desktop-nav-links li a {
		text-decoration: none;
		font-family: 'Open Sans', sans-serif;
		color: #fff;
		font-weight: 600;
		font-size: 18px;
	}
	.navbar .logo {
		width: 90px;
	}
	main .text-welcome h1 {
		font-size: 40px;
	}
	main .text-welcome h2 {
		font-size: 40px;
	}
	#block-us .block-content {
		flex-direction: row;
		justify-content: space-around;
		gap: 65px;
		max-width: 900px;
		margin: 0 auto;
	}
	#block-us .block-head {
		max-width: 900px;
		margin: 0 auto;
	}
	#block-us > div > div.block-box-one > p,
	#block-us > div > div.block-box-two {
		width: 450px;
	}
	#block-us .block-head {
		padding-top: 45px;
	}
	#block-us > div > div.block-box-one > p,
	#block-us > div > div.block-box-two > p.block-txt-two,
	#block-us > div > div.block-box-two > p.block-txt-three,
	.ss-p {
		font-size: 18px;
	}
	#block-us > div > div.block-box-two > a {
		font-size: 18px;
	}
	#products .short-description-products,
	#products .lists,
	#products .boxes-products,
	#products h1,
	#products hr {
		max-width: 974px;
		margin: 0 auto;
	}
	#products .product-button {
		max-width: 974px;
	}
	#products .product-button a {
		width: 290px;
	}
	#products .short-description-products,
	#products .lists {
		display: flex;
		gap: 55px;
	}
	#products .short-description-products .first-dscb-box {
		width: 50%;
	}
	#products .short-description-products .sec-dscb-box {
		width: 50%;
	}
	#products .lists .lists-box-one {
		width: 100%;
	}
	#products .lists .lists-box-two {
		width: 50%;
		/* padding-left: 15px; */
	}
	#products hr {
		margin-top: 35px;
		margin-bottom: 35px;
		max-width: 974px;
	}
	#products .boxes-products .container-products-one,
	#products .boxes-products .container-products-two {
		display: flex;
	}
	#products .boxes-products .container-products-one .stevia-tabs,
	#products .boxes-products .container-products-two .stevia-tabs {
		width: 50%;
	}
	#products .boxes-products .container-products-one .stevia-lq,
	#products .boxes-products .container-products-two .stevia-lq {
		width: 50%;
	}
	#products .boxes-products .container-products-two .stevia-tabs {
		background-color: #e2e2e2;
	}
	#products .boxes-products .container-products-two .stevia-lq {
		background-color: #efefef;
	}
	#products .boxes-products {
		position: relative;
		/* padding-left: 15px;
		padding-right: 15px; */
	}
	#products .lists .lists-box-two h2 {
		padding-top: 0;
	}
	#products .short-description-products p {
		font-size: 18px;
	}
	#products .lists ul li,
	ul p {
		font-size: 18px;
	}
	#products .boxes-products p {
		font-size: 18px;
	}
	#products .next-products p {
		font-size: 18px;
	}
	#products .boxes-products .container-products-two .up-to-top {
		position: absolute;
		display: block;
		right: 0px;
		bottom: 0;
	}
	#products .boxes-products .container-products-two .up-to-top a img {
		width: 35px;
	}
	#products .next-products {
		margin-top: 25px;
	}
	#products .boxes-products ul li {
		font-size: 18px;
	}
	#contact input {
		width: 300px;
	}
	#contact textarea {
		width: 300px;
	}
	#contact .contact-content .information-company p {
		font-size: 18px;
	}
	#contact .contact-content form .btn-send {
		font-size: 18px;
	}
	#contact label {
		font-size: 15px;
	}
	#regulations p {
		font-size: 18px;
	}

	p,
	ul li {
		font-size: 18px !important;
	}

	footer p {
		font-size: 16px !important;
	}
}
@media (max-width: 1020px) {
	/* #products h1 {
		padding-left: 15px;
	} */
	#products .first-dscb-box {
		padding-left: 15px;
		padding-right: 15px;
	}
	#products .lists {
		padding-left: 15px;
		padding-right: 15px;
	}
	#products .head-bs {
		padding-left: 15px;
	}
}
@media (min-width: 1025px) {
	main .desktop-main-bgc {
		display: block;
		height: calc(100vh - 118px);
	}
	main .mobile-main-bgc {
		display: none;
	}
}
@media (min-width: 1124px) {
	footer {
		padding-left: 80px;
		padding-right: 80px;
	}
	main .text-welcome {
		margin-left: 80px;
	}
	.navbar .logo {
		margin-left: 60px;
	}
	.navbar .links-and-lang-desktop .lang-link-desktop {
		padding-right: 80px;
	}
	main .text-welcome h1 {
		font-weight: 500;
	}
	main .text-welcome h2 {
		font-weight: 500;
	}
	#products .boxes-products .container-products-two .up-to-top {
		right: -50px;
	}
	#products .boxes-products .container-products-two .up-to-top a img {
		width: 45px;
	}
	#products .head-bs {
		padding-left: 0;
	}
}
@media (min-width: 1200px) {
	.navbar .links-and-lang-desktop .desktop-nav-links li a,
	.navbar .links-and-lang-desktop .lang-link-desktop a {
		font-size: 20px;
	}
}
#contact .information-company .numbers .p-two-numbers {
	color: #605858 !important;
	text-decoration: none !important;
	margin-left: 15px;
}
.ss-header {
	color: #9f5758 !important;
	font-size: 24px;
	margin-bottom: 8px;
	font-weight: 400;
	font-style: italic;
}
.ss-p {
	color: #605858;
	margin-bottom: 15px;
}
ul p {
	margin-top: 25px;
	margin-bottom: 10px;
	font-weight: bold;
}
footer .footer-container-two .emailadd {
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
@media (max-width: 768px) {
	footer .footer-container-one .logo-name {
		display: none;
	}
	footer {
		justify-content: center;
		gap: 0px;
	}
}
@media (min-width: 768px) {
	footer .footer-container-two .emailadd {
		display: none;
	}
}
#products .product-button a:hover {
	background-color: #d5bcbc68;
	color: #9f5758;
}

.blog-box {
	max-width: 1200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
}

.blog-box .blog-content {
	padding: 25px;
	border-radius: 11px;
	-webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 1);
	width: 100%;
	transition: all 0.3s;
}

@media (min-width: 1024px) {
	.blog-box {
		flex-direction: row;
		justify-content: start;
	}

	.blog-box .blog-content {
		max-width: 350px;
	}

	.blog-box .blog-content:hover {
		background-color: #d5bcbc68;
	}
}

@media (min-width: 970px) and (max-width: 1250px) {
	.navbar .links-and-lang-desktop .desktop-nav-links {
		gap: 50px;
	}
}

picture img {
	width: 100%;
	height: auto;
	margin-top: 95px;
}

@media (max-width: 970px) {
	.second-blog-box {
		margin-top: 30px;
	}
}

.home-content-seo {
	margin: 30px auto;
}

/* .seo-box-content {
	padding: 15px;
} */

@media (min-width: 1024px) {
	.home-content-seo {
		margin: 30px auto;
	}
	.seo-box-content {
		padding-top: 0px;
	}
}

@media (min-width: 1900px) {
	main .desktop-main-bgc {
      height: 100%;
	  max-height: 900px;
} 
main .text-welcome {
	top: 450px;
}
}